@import "../../common/color.scss";
.movie-section {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
    color: $font-primary;
    font-weight: 400;
}

.movie-status {
    color: $font-secondary;
    font-weight: 400;
    font-size: 30px;
}

.movie-rating {
    padding-left: 3px;
    margin-top: 20px;
    color: $font-secondary;
    display: flex;
}

.movie-title {
    font-size: 40px;
    color: $font-primary;
}

.movie-plot {
    margin-top: 20px;
    line-height: 1.8rem;
}

.movie-info>div span:first-child {
    padding: 10px 0px;
    color: $font-primary;
    font-weight: 600;
    display: inline-block;
}

.h {
    padding-right: 20px;
}

.movie-info>div span {
    color: $font-secondary;
    padding: 2px
}

.fa-start {
    color: #ff9e30;
}

.fa-thumps-up {
    color: #fafaFA;
}

.fa-film {
    color: #ff9e30;
}

.fa-start {
    color: rgb(181, 311, 314);
}

.fa-calender {
    color: peachpuff;
}

.section-right {
    margin-left: 30px;
}