@import"../../common/color.scss";
.header {
    background-color: $secondary-colo;
    height: 72px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: $font-primary;
    font-size: 30px;
    font-weight: 800;
}

.user-image,
.user-image img {
    width: 70px;
    height: 70px;
}

.container {
    margin: 0px 40px;
}